@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;900&display=swap');


.nav {
    background-color: rgba(247, 175, 41, 0.993);
    margin: auto;
    margin-bottom: 0.2rem;
    font-size: larger;
    background: rgb(205, 182, 50);
    padding: 1rem;
    align-items: center;
    text-align: center;


}

.img1 {
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;


}

.body1 {

    background-color: hsla(0, 0%, 100%, 0.847);
    display: block;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}



.sec1 {
    background-color: cadetblue;
    padding: 0.5rem;
    background-image: url("border.jpg");
    width: 80%;
    margin: 0 auto;

}


   


#borderimg {
    border-image: url("border.jpg");
}

.para1 {
    background-color: rgb(226, 177, 142);
    opacity: 80%;
    color: rgb(0, 0, 0);
    padding: 1rem;

}

.footer {
    background-color
    :black;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;




}


.para2
.footer.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.inline-li {
    display: inline;
    padding: 0rem 0.5rem;
}
