.nav
{ background-color: blue;
    margin : 10px;
    font-size: larger;
    background: yellowgreen;
    padding: 1rem;


}

.img1
{
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    

}
body {
    background-image: url("wp4021293.jpg");
    background-color: #cccccc;
   }

