.nav
{ background-color: rgb(255, 123, 0);
    margin : 10px;
    font-size: larger;
    background: yellowgreen;
    padding: 1rem;


}

.img1
{
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    

}
body {
    background-image: url("pic.jpg");
    background-color: hsla(0, 0%, 100%, 0.847);
   }

